li {
  margin-bottom: 10px;
}

.main-list ul > li {
  border: 3px dotted;
}

.small-only {
  background-color: blue;
}

@media (max-width: 500px) {
  .small-only {
    background-color: red;
  }
}
.large-screen {
  display: none;
}
.small-screen {
  background-color: orange;
}
@media (min-width: 600px) {
  .large-screen {
    display: block;
    background-color: green;
  }
  .small-screen {
    display: none;
  }
}

button:hover {
  color: blue;
}

button:focus {
  border: 2px solid royalblue;
  background: royalblue;
  color: white;
}
input:checked {
  width: 24px;
  height: 24px;
}
